body
    {
    background-image: url('pic2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    }
h1
{text-align: center;
    border-style:solid;
    border-color: blue;
    background-color: rgb(204, 132, 147);
  }
p
  {text-align: center;
  border-style:solid;
  border-color: blue;
  background-color: rgb(141, 206, 166);}

div
    {text-align: center;}
    
.zoom:hover
    {transform: scale(0.6);}